{% extends 'layout.html' %}

{% block header %}

<style>

	/* styles for the "upload" and "photobooth" options */
	.bigicons {
		border: none;
		background: none;
		-webkit-filter: opacity(0.4);
	}

	.bigicons:hover {
		-webkit-filter: opacity(1);
	}

	.bigicons:focus {
		outline: 0 !important;
	}

	.bigicons {
		padding-top: 75px;
	}

	/* styles for the upload form */
	#uploadlink {
		display: none;
	}

	#uploadlink:target {
		display: block;
	}

</style>
{% endblock %}

{% block content %}

<!-- upload image option -->
<div class="col-md-4 text-center">
	<button class="bigicons" id="uploadicon">
		<a href="#uploadlink">
			<img src="{{ url_for('static', filename='images/upload.png') }}" style="width:300px" />
		</a>
	</button>
	<!-- helper text -->
	<p style="text-align:center; font-size:30px;">Upload</p>

	<!-- upload form appears if upload option is selected -->
	<div id="uploadlink">
		<form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>
			<div class="form-group">
				<label for="uploadFile"> Select a file to upload: </label>
				<input type="file" name="file" required>
				
				<input type="checkbox" name="imageproc" value="yes"><label for="imageProc">Try out eye enlargement and skin smoothing? (beta)</label>
			</div>
			<button type="submit" class="btn btn-primary">Upload</button>
		</form>
	</div>

</div>

<!-- "OR" text -->
<div class="col-md-4 text-center">
	<div style="position:absolute; top:150px; left:150px; font-size:60px;">
		<p>OR</p>
	</div>
</div>

<!-- photobooth option -->
<div class="col-md-4 text-center">
	<button class="bigicons">
	 	<a href="{{ url_for('photobooth') }}">
	 		<img src="{{ url_for('static', filename='images/camera.png') }}" style="width:300px" />
	 	</a>
	</button>
	 <!-- helper text-->
	<p style="text-align:center; font-size:30px;">Take Picture</p>
</div>

{% endblock %}