{% extends "layout.html" %}

{% block header %}

	<!-- jqueryui form.js for the email form -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jqueryui/jquery.form.js') }}"></script>

	<!-- jqueryui for the toolbar accordion -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jqueryui/jquery-ui.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jqueryui/jquery-ui.min.js') }}"></script>

	<script>
	$(function() {
		$( "#accordion" ).accordion({
			heightStyle:"fill"
		});
	});
	</script>

	<!-- styles for decorate page -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/decorate.css') }}">

	<style>

	.ui-accordion .ui-accordion-icons {
padding-left: 0;
}

	</style>

{% endblock %}

{% block content %}

<!-- image editor (2 layered html canvases) -->
<div class="col-md-9">
	<div style="position: relative;">

		<!-- background canvas (not editable) -->
		<canvas id="photo" width="700" height="494" style="left: 0; top: 0; z-index:0; margin-left:42px; margin-top:127px;"></canvas>

		<!-- drawing canvas (editable) -->
		<canvas id="c" width="700" height="494" style="position: absolute; left: 0; top: 0; z-index:1; margin-left:42px; margin-top:127px;"></canvas>
	</div>
</div>

<!-- toolbox -->
<div class="col-md-3" style="position:absolute; right:0; height:700px; margin-right: 10px;">
	
	<!-- first toolbox segment: save, download, and email functions -->
	<div>
		<h3 class="h3-faux-accordion" style="background-color: #660033; margin:0px;">
			
			<!-- Save function -->
			<button data-toggle="modal" data-target="#saveModal"><a id="save"><img src="{{ url_for('static', filename='images/navigatorsave.png') }}" style="height:32px; width:32px;" class="icon-inactive"/></a></button>

			<!-- Save function popup -->
			<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">

				    <!-- save function popup header -->
				    <div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    	<h4 class="modal-title" id="myModalLabel">Saved in Gallery!</h4>
				    </div>

				    <!-- save function popup body -->
				    <div class="modal-body">
				    	<p>Click <a href="{{ url_for('main') }}">here</a> to see it!</p>  
				    </div>

			    </div>
			  </div>
			</div>

			<!-- Download function -->
			<button><a id="download"><img src="{{ url_for('static', filename='images/navigatordownload.png') }}" style="height:32px; width:32px;" class="icon-inactive"/></a></button>

			<!-- Email function -->
			<button data-toggle="modal" data-target="#emailModal"><a id="email"><img src="{{ url_for('static', filename='images/email.png') }}" style="height:26px; width:32px;" class="icon-inactive"/></a></button>

			<!-- Email function popup -->
			<div class="modal" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			    	<!-- email function popup header -->
			    	<div class="modal-header">
			    		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			    		<h4 class="modal-title" id="myModalLabel">Send Image</h4>
			    	</div>

			    	<!-- email function popup body -->
			    	<div class="modal-body">
				        <form id="emailImage">

				        	<!-- email form -->
				        	<div class="form-group">
				              <label for="email">Email addresses:</label>
				              <p id="emailNote">Please enter email addresses separated by commas.</p>
				              <input type="text" name="address" class="form-control" placeholder="example@example.com, example2@example.com" required autofocus name="email"/>

				              <br />
				              <label for="subject">Email subject:</label>
				              <input type="text" name="subject" class="form-control" placeholder="Subject..." required autofocus name="subject" value="{{ session.email ~ ' sent you an image from DecorateIt!' }}" />

				              <br />
				              <label for="subject">Email body:</label>
				              <textarea class="form-control" rows="3" placeholder="Body..." name="body"></textarea>

				              <input type="hidden" name="filename" value=" {{ filename }} " />

							  <br />
				              <input class="btn btn-primary" type="submit" id="submitEmailButton" value="Send email" />
				            </div>
					    </form>
					</div>
			    </div>
			  </div>
			</div>

		</h3>
	</div>

	<!-- second toolbox segment: erase and clear functions -->
	<div>
		<h3 class="h3-faux-accordion" style="background-color: #8A002E;">

			<!-- Eraser function -->
			<button id="changeToolToEraser"><img src="{{ url_for('static', filename='images/navigatoreraser.png') }}" style="height:32px; width:32px" class="icon-inactive"/></button>

			<!-- Clear function -->
			<button id="clear"><img src="{{ url_for('static', filename='images/navigatorreload.png') }}" style="height:32px; width:32px" class="icon-inactive"/></button>
		</h3>
	</div>

	<!-- third toolbox segment: change tool size functions -->
	<div>
		<h3 class="h3-faux-accordion" style="background-color: #B8005C;">

			<button id="changeSizeToSmall" data-toggle="tooltip" data-placement="top" title="Change tool size to small"><img src="{{ url_for('static', filename='images/sizesmall.png') }}" style="height:32px; width: 32px" class="icon-inactive"/></button>
			<button id="changeSizeToMedium"><img src="{{ url_for('static', filename='images/sizemedium.png') }}" style="height:32px; width: 32px" class="icon-inactive"/></button>
			<button id="changeSizeToLarge"><img src="{{ url_for('static', filename='images/sizelarge.png') }}" style="height:32px; width: 32px" class="icon-inactive"/></button>
			<button id="changeSizeToXLarge"><img src="{{ url_for('static', filename='images/sizexlarge.png') }}" style="height:32px; width: 32px" class="icon-inactive"/></button>

		</h3>
	</div>

	

	<!-- fourth toolbox segment: change tool (marker, brush, stamp) functions -->
	<div id="accordion">

		<!-- markers -->
		<h3 style="background-color: #FF5050; text-align: center; outline:0;"><button class="accordion-button-adjustment"><img src="{{ url_for('static', filename='images/navigatormarker.png') }}" class="icon-inactive"/></button></h3>

		<!-- marker choices -->
		<div style="border: 2px solid #FF5050; background-color:white;">
			<button id="changeColorToPurple"><img src="{{ url_for('static', filename='images/brush2a.png') }}" style="height:32px; width:32px" /></button>
			<button id="changeColorToBlack"><img src="{{ url_for('static', filename='images/brushblack.png') }}" style="height:32px; width:32px;" /></button>
			<button id="changeColorToWhite"><img src="{{ url_for('static', filename='images/brushwhite.png') }}" style="height:32px; width:32px;" /></button>
			<button id="changeColorToGreen"><img src="{{ url_for('static', filename='images/brush3a.png') }}" style="height:32px; width:32px" /></button>
			<button id="changeColorToMint"><img src="{{ url_for('static', filename='images/brushmint.png') }}" style="height:32px; width:32px" /></button>
			<button id="changeColorToRed"><img src ="{{ url_for('static', filename='images/brushred.png') }}" style="height:32px; width:32px;" /></button>
			<button id="changeColorToOrange"><img src="{{ url_for('static', filename='images/brushOrange.png') }}" style="height:32px; width:32px;" /></button>
			<button id="changeColorToYellow"><img src="{{ url_for('static', filename='images/brush4a.png') }}" style="height:32px; width:32px" /></button>
			<button id="changeColorToLightYellow"><img src="{{ url_for('static', filename='images/brushlightyellow.png') }}" style="height:32px; width:32px;" /></button>
			<button id="changeColorToLavender"><img src="{{ url_for('static', filename='images/brushlavender.png') }}" style="height:32px; width:32px" /></button>
			<button id="changeColorToPink"><img src="{{ url_for('static', filename='images/brush1a.png') }}" style="height:32px; width:32px" /></button>
			<button id="changeColorToSkyBlue"><img src="{{ url_for('static', filename='images/brushSkyBlue.png') }}" style="height:32px; width: 32px;" /></button>
			<button id="changeColorToWhitePurple"><img src="{{ url_for('static', filename='images/brush2.png') }}" style="height:32px; width:32px" /></button>
			<button id="changeColorToWhiteBlue"><img src="{{ url_for('static', filename='images/brushbluewhite.png') }}" style="height:32px; width: 32px;" /></button>
			<button id="changeColorToWhiteYellow"><img src="{{ url_for('static', filename='images/brush4.png') }}" style="height:32px; width:32px" /></button>
			<button id="changeColorToWhitePink"><img src="{{ url_for('static', filename='images/brush1.png') }}" style="height:32px; width:32px" /></button>
		</div>

		<!-- brushes -->
		<h3 style="background-color: #FF987E; text-align: center; outline:0;"><button><img src="{{ url_for('static', filename='images/navigatorbrush.png') }}" class="icon-inactive"/></button></h3>

		<!-- brush choices -->
		<div style="border: 2px solid #FF987E; background-color:white;">
			<button id="changeToolToBrush"><img  src="{{ url_for('static', filename='images/brush.png') }}" style="height:32px; width:32px;" /></button>
			<button id="changeToolToBrush2"><img  src="{{ url_for('static', filename='images/2.png') }}" style="height:32px; width:32px;"/></button>
			<button id="changeToolToBrush3"><img  src="{{ url_for('static', filename='images/3.png') }}" style="height:32px; width:32px;"/></button>
			<button id="changeToolToBlueSparkleBrush"><img src="{{ url_for('static', filename='images/bluesparkle.png') }}" style="height:32px; width:32px;"/></button>
			<button id="changeToolToPinkSparkleBrush"><img  src="{{ url_for('static', filename='images/pinksparkle.png') }}" style="height:32px; width:32px;"/></button>
		</div>

		<!-- stamps -->
		<h3 style="background-color: #FFCC99; text-align: center; outline:0;"><button><img src="{{ url_for('static', filename='images/navigatorstamp.png') }}" class="icon-inactive"/></button></h3>

		<!-- stamp choices -->
		<div style="border: 2px solid #FFCC99; background-color:white;">
			<button id="changeStamp2"><img src="{{ url_for('static', filename='images/2.png') }}" style="height:32px; width:32px;"/></button>
			<button id="changeStamp3"><img src="{{ url_for('static', filename='images/3.png') }}" style="height:32px; width:32px;"/></button>
			<button id="changeStamp4"><img src="{{ url_for('static', filename='images/jd2.png') }}" style="height:32px; width:32px;"/></button>
			<button id="spottedHeartStamp"><img src="{{ url_for('static', filename='images/spottedheart.png') }}" style="height:32px; width:32px;"/></button>
			<button id="pearlHeartStamp"><img src="{{ url_for('static', filename='images/pearlheart.png') }}" style="height:32px; width:32px;"/></button>
			<button id="cherryStamp"><img  src="{{ url_for('static', filename='images/cherries.png') }}" style="height:32px; width:32px;"/></button>
			<button id="crownStamp"><img  src="{{ url_for('static', filename='images/crown.png') }}" style="height:32px; width:32px;"/></button>
			<button id="bowtieStamp"><img  src="{{ url_for('static', filename='images/bowtie.png') }}" style="height:32px; width:32px;"/></button>
			<button id="whiteBowStamp"><img src="{{ url_for('static', filename='images/whitebow.png') }}" style="height:32px; width:32px;"/></button>
			<button id="kittyBowStamp"><img  src="{{ url_for('static', filename='images/kittybow.png') }}" style="height:32px; width:32px;"/></button>
			<button id="diamondStamp"><img  src="{{ url_for('static', filename='images/diamond.png') }}" style="height:32px; width:32px;"/></button>
			<button id="heartDiamondStamp"><img  src="{{ url_for('static', filename='images/heartdiamond.png') }}" style="height:32px; width:32px;"/></button>
			<button id="pinkDiamondStamp"><img  src="{{ url_for('static', filename='images/pinkdiamond.png') }}" style="height:32px; width:32px;"/></button>
			<button id="roseStamp"><img src="{{ url_for('static', filename='images/rose.png') }}" style="height:32px; width:32px;"/></button>
			<button id="daisyStamp"><img src="{{ url_for('static', filename='images/daisy.png') }}" style="height:32px; width:32px;"/></button>
			<button id="pearlStamp"><img src="{{ url_for('static', filename='images/pearl.png') }}" style="height:32px; width:32px;"/></button>
			<button id="pinkCrownStamp"><img src="{{ url_for('static', filename='images/pinkcrown.png') }}" style="height:32px; width:32px;"/></button>
			<button id="blueSparkleStamp"><img src="{{ url_for('static', filename='images/bluesparkle.png') }}" style="height:32px; width:32px;"/></button>
			<button id="pinkSparkleStamp"><img src="{{ url_for('static', filename='images/pinksparkle.png') }}" style="height:32px; width:32px;"/></button>
			<button id="orangeSparkleStamp"><img src="{{ url_for('static', filename='images/orangesparkle.png') }}" style="height:32px; width:32px;"/></button>
			<button id="yellowSparkleStamp"><img src="{{ url_for('static', filename='images/yellowsparkle.png') }}" style="height:32px; width:32px;"/></button>
			<button id="pinkGlassesStamp"><img src="{{ url_for('static', filename='images/pinkGlasses.png') }}" style="height:32px; width:32px;"/></button>
			<button id="glassesStamp"><img src="{{ url_for('static', filename='images/glasses.png') }}" style="height:32px; width:32px;"/></button>
			<button id="stacheStamp"><img src="{{ url_for('static', filename='images/stache.png') }}" style="height:32px; width:32px;"/></button>
			<button id="bearStamp"><img src="{{ url_for('static', filename='images/teddybear.png') }}" style="height:32px; width:32px;"/></button>

		</div>
	</div>
</div>


<script>

/* NOTE: All the image decorating logic is in this script tag. */

/**********************************************************************************
Setting up
***********************************************************************************/

//Get the chosen image from the user
var imageObj = new Image();
imageObj.src = "{{ filename }}";

//Declare canvas variables
var el;
var ctx;
var background;
var backgroundctx;

imageObj.onload = function() {

	//Resize image to fit max size of 700x494
	if (imageObj.width > 700) {
		imageObj.height = imageObj.height * (700/imageObj.width); //scale height
		imageObj.width = 700;
	}

	if (imageObj.height > 494) {
		imageObj.width = imageObj.width * (494/imageObj.height); //scale width
		imageObj.height = 494;
	}

	//Copy image onto canvas objects
	el = document.getElementById('c');
	el.width = imageObj.width;
	el.height = imageObj.height;
	ctx = el.getContext('2d');

	background = document.getElementById('photo');
	background.width = imageObj.width;
	background.height = imageObj.height;
	backgroundctx = background.getContext('2d');

    backgroundctx.drawImage(imageObj, 0, 0);

    setUpCanvas();
 };


//Colors
var colorPurple = "#cb3594";
var colorGreen = "#659b41";
var colorYellow = "#ffcf33";
var colorBrown = "#986928";

//Marker sizes
var markerSmall = 2;
var markerMedium = 5;
var markerLarge = 10;
var markerXlarge = 15;

//Brush sizes
var brushSmall = 32;
var brushMedium = 50;
var brushLarge = 75;
var brushXlarge = 100;

//Stamp sizes are same as brush sizes
var stampSmall = brushSmall;
var stampMedium = brushMedium;
var stampLarge = brushLarge;
var stampXlarge = brushXlarge;

//Default active elements
var activeSizeElement = document.getElementById("changeSizeToMedium");
var activeBrushOrStampElement = document.getElementById("changeColorToPurple");

activeBrushOrStampElement.className = "button-active";
activeSizeElement.className = "button-active";
var activeMarkerSize = markerMedium;
var activeBrushSize = brushMedium;
var activeStampSize = stampMedium;
var activeTool = "marker";


/**********************************************************************************
Markers
***********************************************************************************/

document.getElementById("changeToolToEraser").addEventListener('click', function(){
	ctx.globalCompositeOperation = "destination-out";
	activeTool = "marker";
	updateCursor("eraser");
	drawWithMarker("purple", "purple");
	updateActiveBrushOrStampElement(document.getElementById("changeToolToEraser"));
});

document.getElementById("changeColorToPurple").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToPurple"));
	drawWithMarker("purple", "purple");
});
document.getElementById("changeColorToGreen").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToGreen"));
	drawWithMarker("green", "green");
});
document.getElementById("changeColorToYellow").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToYellow"));
	drawWithMarker("yellow", "yellow");
});
document.getElementById("changeColorToPink").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToPink"));
	drawWithMarker("pink", "pink");
});
document.getElementById("changeColorToWhitePurple").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToWhitePurple"));
	drawWithMarker("white", "purple");
});
document.getElementById("changeColorToWhiteYellow").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToWhiteYellow"));
	drawWithMarker("white", "yellow");
});
document.getElementById("changeColorToWhitePink").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToWhitePink"));
	drawWithMarker("white", "pink");
});

document.getElementById("changeColorToWhiteBlue").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToWhiteBlue"));
	drawWithMarker("white", "rgb(142,222,249)");
});

document.getElementById("changeColorToSkyBlue").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToSkyBlue"));
	drawWithMarker("rgb(142,222,249)", "rgb(142,222,249)");
});

document.getElementById("changeColorToOrange").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToOrange"));
	drawWithMarker("rgb(244,157,55)", "rgb(244,157,55)");
});

document.getElementById("changeColorToBlack").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToBlack"));
	drawWithMarker("rgb(0,0,0)", "rgb(0,0,0)");
});

document.getElementById("changeColorToRed").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToRed"));
	drawWithMarker("rgb(255,34,34)", "rgb(255,34,34)");
});

document.getElementById("changeColorToWhite").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToWhite"));
	drawWithMarker("white", "white");
});

document.getElementById("changeColorToMint").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToMint"));
	drawWithMarker("rgb(22, 230, 188)", "rgb(22, 230, 188)");
});

document.getElementById("changeColorToLightYellow").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToLightYellow"));
	drawWithMarker("rgb(250, 255, 168)", "rgb(250, 255, 168)");
});

document.getElementById("changeColorToLavender").addEventListener('click', function(){
	updateInterface("marker", document.getElementById("changeColorToLavender"));
	drawWithMarker("rgb(249, 183, 248)", "rgb(249, 183, 248)");
});


/**********************************************************************************
Brushes
***********************************************************************************/


document.getElementById("changeToolToBrush").addEventListener('click', function(){
	updateInterface("brush", document.getElementById("changeToolToBrush"));
	drawWithBrush(document.getElementById("changeToolToBrush").childNodes[0].src, 1);
});

document.getElementById("changeToolToBrush2").addEventListener('click', function(){
	updateInterface("brush", document.getElementById("changeToolToBrush2"));
	drawWithBrush(document.getElementById("changeToolToBrush2").childNodes[0].src, 100);
});

document.getElementById("changeToolToBrush3").addEventListener('click', function(){
	updateInterface("brush", document.getElementById("changeToolToBrush3"));
	drawWithBrush(document.getElementById("changeToolToBrush3").childNodes[0].src, 100);
});

document.getElementById("changeToolToBlueSparkleBrush").addEventListener('click', function(){
	updateInterface("brush", document.getElementById("changeToolToBlueSparkleBrush"));
	drawWithBrush(document.getElementById("changeToolToBlueSparkleBrush").childNodes[0].src, 100);
});

document.getElementById("changeToolToPinkSparkleBrush").addEventListener('click', function(){
	updateInterface("brush", document.getElementById("changeToolToPinkSparkleBrush"));
	drawWithBrush(document.getElementById("changeToolToPinkSparkleBrush").childNodes[0].src, 100);
});


/**********************************************************************************
Stamps
***********************************************************************************/

document.getElementById("changeStamp2").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("changeStamp2"));
	drawStamp(document.getElementById("changeStamp2").childNodes[0].src);
});
document.getElementById("changeStamp3").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("changeStamp3"));
	drawStamp(document.getElementById("changeStamp3").childNodes[0].src);
});
document.getElementById("changeStamp4").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("changeStamp4"));
	drawStamp(document.getElementById("changeStamp4").childNodes[0].src);
});

document.getElementById("spottedHeartStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("spottedHeartStamp"));
	drawStamp(document.getElementById("spottedHeartStamp").childNodes[0].src);
});

document.getElementById("pearlHeartStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("pearlHeartStamp"));
	drawStamp(document.getElementById("pearlHeartStamp").childNodes[0].src);
});

document.getElementById("cherryStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("cherryStamp"));
	drawStamp(document.getElementById("cherryStamp").childNodes[0].src);
});

document.getElementById("crownStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("crownStamp"));
	drawStamp(document.getElementById("crownStamp").childNodes[0].src);
});

document.getElementById("bowtieStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("bowtieStamp"));
	drawStamp(document.getElementById("bowtieStamp").childNodes[0].src);
});

document.getElementById("whiteBowStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("whiteBowStamp"));
	drawStamp(document.getElementById("whiteBowStamp").childNodes[0].src);
});

document.getElementById("kittyBowStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("kittyBowStamp"));
	drawStamp(document.getElementById("kittyBowStamp").childNodes[0].src);
});

document.getElementById("diamondStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("diamondStamp"));
	drawStamp(document.getElementById("diamondStamp").childNodes[0].src);
});

document.getElementById("pinkDiamondStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("pinkDiamondStamp"));
	drawStamp(document.getElementById("pinkDiamondStamp").childNodes[0].src);
});

document.getElementById("roseStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("roseStamp"));
	drawStamp(document.getElementById("roseStamp").childNodes[0].src);
});

document.getElementById("pinkCrownStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("pinkCrownStamp"));
	drawStamp(document.getElementById("pinkCrownStamp").childNodes[0].src);
});

document.getElementById("blueSparkleStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("blueSparkleStamp"));
	drawStamp(document.getElementById("blueSparkleStamp").childNodes[0].src);
});

document.getElementById("pinkSparkleStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("pinkSparkleStamp"));
	drawStamp(document.getElementById("pinkSparkleStamp").childNodes[0].src);
});

document.getElementById("orangeSparkleStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("orangeSparkleStamp"));
	drawStamp(document.getElementById("orangeSparkleStamp").childNodes[0].src);
});

document.getElementById("yellowSparkleStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("yellowSparkleStamp"));
	drawStamp(document.getElementById("yellowSparkleStamp").childNodes[0].src);
});

document.getElementById("daisyStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("daisyStamp"));
	drawStamp(document.getElementById("daisyStamp").childNodes[0].src);
});

document.getElementById("pearlStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("pearlStamp"));
	drawStamp(document.getElementById("pearlStamp").childNodes[0].src);
});

document.getElementById("pinkGlassesStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("pinkGlassesStamp"));
	drawStamp(document.getElementById("pinkGlassesStamp").childNodes[0].src);
});


document.getElementById("glassesStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("glassesStamp"));
	drawStamp(document.getElementById("glassesStamp").childNodes[0].src);
});

document.getElementById("heartDiamondStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("heartDiamondStamp"));
	drawStamp(document.getElementById("heartDiamondStamp").childNodes[0].src);
});

document.getElementById("stacheStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("stacheStamp"));
	drawStamp(document.getElementById("stacheStamp").childNodes[0].src);
});

document.getElementById("bearStamp").addEventListener('click', function() {
	updateInterface("stamp", document.getElementById("bearStamp"));
	drawStamp(document.getElementById("bearStamp").childNodes[0].src);
});

/**********************************************************************************
Size changes
***********************************************************************************/

document.getElementById("changeSizeToSmall").addEventListener('click', function(){
	if (activeTool == "marker") {
		ctx.lineWidth = markerSmall;
		ctx.shadowBlur = markerSmall;
		activeMarkerSize = markerSmall;
	} else if (activeTool == "brush") {
		activeBrushSize = brushSmall;
		//console.log("changing brush size to small: ", activeBrushSize);
	} else {
		activeStampSize = stampSmall;
	}
	
	updateActiveSizeElement(document.getElementById("changeSizeToSmall"));
});
document.getElementById("changeSizeToMedium").addEventListener('click', function(){
	if (activeTool == "marker") {
		ctx.lineWidth = markerMedium;
		ctx.shadowBlur = markerMedium;
		activeMarkerSize = markerMedium;
	} else if (activeTool == "brush") {
		activeBrushSize = brushMedium;
	} else {
		activeStampSize = stampMedium;
	}
	
	updateActiveSizeElement(document.getElementById("changeSizeToMedium"));
});
document.getElementById("changeSizeToLarge").addEventListener('click', function(){
	if (activeTool == "marker") {
		ctx.lineWidth = markerLarge;
		ctx.shadowBlur = markerLarge;
		activeMarkerSize = markerLarge;
	} else if (activeTool == "brush") {
		activeBrushSize = brushLarge;
	} else {
		activeStampSize = stampLarge;
	}
	
	updateActiveSizeElement(document.getElementById("changeSizeToLarge"));
});
document.getElementById("changeSizeToXLarge").addEventListener('click', function(){
	if (activeTool == "marker") {
		ctx.lineWidth = markerXlarge;
		ctx.shadowBlur = markerXlarge;
		activeMarkerSize = markerXlarge;
	} else if (activeTool == "brush") {
		activeBrushSize = brushXlarge;
	} else {
		activeStampSize = stampXlarge;
	}

	updateActiveSizeElement(document.getElementById("changeSizeToXLarge"));
});


/**********************************************************************************
Canvas-wide functions
***********************************************************************************/

//Resets the canvas
document.getElementById("clear").addEventListener('click', function(){
	el.width = el.width;
	selectDefaults();
	document.getElementById("ui-id-1").click();
});

//Selects purple medium marker as default.
function selectDefaults() {
	document.getElementById("changeColorToPurple").click();
	document.getElementById("changeSizeToMedium").click();

	//make brush and stamp size medium as well
	activeBrushSize = brushMedium;
	activeStampSize = stampMedium;
}

//Sets up canvas starting with purple medium marker.
function setUpCanvas() {
	
	ctx.lineWidth = 5; 
	ctx.shadowBlur = 5;
	ctx.lineJoin = ctx.lineCap = 'round';

	activeSizeElement = document.getElementById("changeSizeToMedium");
	activeBrushOrStampElement = document.getElementById("changeColorToPurple");

	activeBrushOrStampElement.className = "button-active";
	activeSizeElement.className = "button-active";
	activeMarkerSize = markerMedium;
	activeBrushSize = brushMedium;
	activeStampSize = stampMedium;
	activeTool = "marker";

	updateCursor("marker");
	drawWithMarker("purple", "purple");

}

//Prevent selecting the canvas in Chrome 27 Linux
document.getElementById("c").addEventListener("mousemove",function (e){
	e.preventDefault(); 
});

/**********************************************************************************
Interface updates
***********************************************************************************/

//Updates the interface according to what you selected
function updateInterface(toolType, toolButton){
	//Eraser updates
	if (toolType == "eraser") {
		ctx.globalCompositeOperation = "destination-out";
		activeTool = "marker";
		updateCursor("eraser");
		drawWithMarker("purple", "purple");
		updateActiveBrushOrStampElement(toolButton);
	}
	//Marker updates
	else if (toolType == "marker") {
		ctx.globalCompositeOperation = "source-over";
		activeTool = "marker";
		updateCursor("marker");
		updateActiveBrushOrStampElement(toolButton);

		//update marker size
		if (activeMarkerSize == markerSmall) {
			updateActiveSizeElement(document.getElementById("changeSizeToSmall"));
		} else if (activeMarkerSize == markerMedium) {
			updateActiveSizeElement(document.getElementById("changeSizeToMedium"));
		} else if (activeMarkerSize == markerLarge) {
			updateActiveSizeElement(document.getElementById("changeSizeToLarge"));
		} else {
			updateActiveSizeElement(document.getElementById("changeSizeToXLarge"));
		}
	}
	//Brush updates
	else if (toolType == "brush") {
		ctx.globalCompositeOperation = "source-over";
		activeTool = "brush";
		updateCursor("brush");

		drawWithBrush(toolButton.childNodes[0].src);
		updateActiveBrushOrStampElement(toolButton);

		//update brush size
		if (activeBrushSize == brushSmall) {
			updateActiveSizeElement(document.getElementById("changeSizeToSmall"));
		} else if (activeBrushSize == brushMedium) {
			updateActiveSizeElement(document.getElementById("changeSizeToMedium"));
		} else if (activeBrushSize == brushLarge) {
			updateActiveSizeElement(document.getElementById("changeSizeToLarge"));
		} else {
			updateActiveSizeElement(document.getElementById("changeSizeToXLarge"));
		}
	}
	//Stamp updates
	else {
		ctx.globalCompositeOperation = "source-over";
		activeTool = "stamp";
		updateCursor("stamp");
		drawStamp(toolButton.childNodes[0].src);
		updateActiveBrushOrStampElement(toolButton);

		//update stamp size
		if (activeStampSize == stampSmall) {
			updateActiveSizeElement(document.getElementById("changeSizeToSmall"));
		} else if (activeStampSize == stampMedium) {
			updateActiveSizeElement(document.getElementById("changeSizeToMedium"));
		} else if (activeStampSize == stampLarge) {
			updateActiveSizeElement(document.getElementById("changeSizeToLarge"));
		} else {
			updateActiveSizeElement(document.getElementById("changeSizeToXLarge"));
		}
	}
}

//Switches cursor to the one you're using
function updateCursor(type) {
	if (type == "brush") {
		document.getElementById("c").className = "cursor-brush";
	} else if (type == "stamp") {
		document.getElementById("c").className = "cursor-stamp";
	} else if (type == "marker") {
		document.getElementById("c").className = "cursor-marker";
	} else {
		document.getElementById("c").className = "cursor-eraser";
	}
};

//Highlights current active size
function updateActiveSizeElement(newElement) {
	activeSizeElement.className = "";
	newElement.className = "button-active";
	activeSizeElement = newElement;

	//Don't want the browser's focus to show up because multiple things are selected
	activeSizeElement.blur();
};

//Highlights current brush/stamp element
function updateActiveBrushOrStampElement(newElement) {

	//If the eraser is selected, dim the toolbox icons
	if (newElement == document.getElementById("changeToolToEraser")) {
		var headerToBeUpdated = document.getElementById("accordion").childNodes;
		for (var i = 3; i< headerToBeUpdated.length; i += 8) {
			 if (headerToBeUpdated[i].classList.contains("ui-state-active")) {
				var buttonToBeUpdated = headerToBeUpdated[i].childNodes[1];
				buttonToBeUpdated.classList.remove("accordion-button-adjustment");
			}
		}
	}
	//Otherwise, highlight the appropriate icon
	else {
		var headerToBeUpdated = document.getElementById("accordion").childNodes;
		for (var i = 3; i< headerToBeUpdated.length; i += 8) {
			var buttonToBeUpdated = headerToBeUpdated[i].childNodes[1];

			if (headerToBeUpdated[i].classList.contains("ui-state-active")) {
				buttonToBeUpdated.classList.add("accordion-button-adjustment");
				console.log(headerToBeUpdated);
				console.log(headerToBeUpdated[i]);
				headerToBeUpdated[i].blur();
			} else {
				buttonToBeUpdated.classList.remove("accordion-button-adjustment");
			}
		}
	}
	activeBrushOrStampElement.className = "";
	newElement.className = "button-active";
	activeBrushOrStampElement = newElement;

	//Don't want the browser's focus to show up because multiple things are selected
	activeBrushOrStampElement.blur();
};

/**********************************************************************************
Drawing functions
***********************************************************************************/

//For stamp drawing, given a stamp image
function drawStamp(src) {
	
	//Load the stamp image
	var img = new Image();
	img.src = src;

	//When you click the mouse, draw the stamp
	el.onmousedown = function(e) {
		ctx.drawImage(img, e.pageX-200, e.pageY-200, activeStampSize, activeStampSize); //200px for offset
	};
};


//For brush drawing, given a brush image and space parameter. Space parameter ranges from 1(close)-100(far apart).
function drawWithBrush(src, space) {
	
	//Load the brush image
	var img = new Image();
	img.src = src;

	//Helper functions to make brush look nice
	function distanceBetween(point1, point2) {
		return Math.sqrt(Math.pow(point2.x - point1.x, 2) + Math.pow(point2.y - point1.y, 2));
	};
	function angleBetween(point1, point2) {
		return Math.atan2( point2.x - point1.x, point2.y - point1.y );
	};
	
	ctx.lineJoin = ctx.lineCap = 'round';

	var isDrawing, lastPoint;

	//When you click the mouse, start keeping track of your last point
	el.onmousedown = function(e) {
		isDrawing = true;
		lastPoint = { x: e.pageX-160, y: e.pageY-160}; //changed clientX to pageX. 160px for offset

		//Remove shadow in case you used the marker before
		ctx.shadowBlur = 0;
	};

	//If you're drawing, draw the current point and then update the last point var
	el.onmousemove = function(e) {
		if (!isDrawing) return;

		var currentPoint = { x: e.pageX-160, y: e.pageY-160}; //changed clientX to pageX
		var dist = distanceBetween(lastPoint, currentPoint);
		var angle = angleBetween(lastPoint, currentPoint);

		//For the entire distance between your last point and the current point, draw the loaded brush image
		//The i+=100 is what dictates how far apart the images are
		for (var i = 0; i < dist; i+= space) {
			x = lastPoint.x + (Math.sin(angle) * i) - 25;
			y = lastPoint.y + (Math.cos(angle) * i) - 25;
			ctx.drawImage(img, x, y, activeBrushSize, activeBrushSize);
		}

		lastPoint = currentPoint;
	};

	//Stop drawing once you lift up your click. Register event on window to account for
	//mouse movement outside of the canvas
	window.onmouseup = function() {
		isDrawing = false;
	};

};

//For marker drawing, given a color and shadowcolor
function drawWithMarker(color, shadowColor) {

	var isDrawing;

	//When you click the mouse, begin a path
	el.onmousedown = function(e) {
	  isDrawing = true;
	  
	  ctx.moveTo(e.pageX-180, e.pageY-180); //changed clientX to pageX 180s for offset
	  ctx.beginPath();
	};

	//If you're drawing, draw a line to the current point
	el.onmousemove = function(e) {
	  if (isDrawing) {
	    ctx.strokeStyle = color;
	    ctx.shadowColor = shadowColor;
	    ctx.lineWidth = activeMarkerSize;
		ctx.shadowBlur = ctx.lineWidth;

	    ctx.lineTo(e.pageX-180, e.pageY-165); //the minuses are for offsets. changed clientX to pageX
	    ctx.stroke();
	  }
	};

	//Stop drawing once you lift up your click. Register event on window to account for
	//mouse movement outside of the canvas
	window.onmouseup = function() {
	  isDrawing = false;
	};
};

/**********************************************************************************
Saving, downloading, and emailing functions
***********************************************************************************/

//Saves image in gallery
document.getElementById('save').addEventListener('click', function(){
	save_image();
});

//Downloads image to disk
document.getElementById('download').addEventListener('click', function(){
	
	//Makes a new canvas for downloading
	var copyForDownloading = document.createElement('canvas');
	var ctxCopyForDownloading = copyForDownloading.getContext('2d');
	ctxCopyForDownloading.canvas.width = document.getElementById("photo").width;
	ctxCopyForDownloading.canvas.height = document.getElementById("photo").height;

	//Copies the 2 working canvases onto the canvas for saving
	ctxCopyForDownloading.drawImage(document.getElementById("photo"), 0, 0);
	ctxCopyForDownloading.drawImage(document.getElementById("c"), 0, 0);

	//Converts the canvas to data and names the new file
	this.href = copyForDownloading.toDataURL();
	this.download = 'purikura.jpg';
});

//Sends image to user-specified email address
$("#emailImage").submit(function(e){
	
	save_image();

	//Tells backend to send email with specfied address
	$.ajax({
		type: "POST",
		url: "{{ url_for('send_mail') }}",
		data: $("#emailImage").serialize(),
		success: function(response) {
			console.log(response);
		},
		error: function(error) {
			console.log(error)
		}

	});

	//Prevent refreshing page
	e.preventDefault();	
});

//Makes sure email popup closes after emailing the image
document.getElementById('submitEmailButton').addEventListener('click', function(){
	$('#emailModal').modal('hide');
});

//Helper function to save image. Used in saving image to gallery + emailing image
function save_image(){
	//Makes a new canvas for saving
	var copyForDownloading = document.createElement('canvas');
	var ctxCopyForDownloading = copyForDownloading.getContext('2d');
	ctxCopyForDownloading.canvas.width = document.getElementById("photo").width;
	ctxCopyForDownloading.canvas.height = document.getElementById("photo").height;

	//Copies the 2 working canvases onto the canvas for saving
	ctxCopyForDownloading.drawImage(document.getElementById("photo"), 0, 0);
	ctxCopyForDownloading.drawImage(document.getElementById("c"), 0, 0);

	//Sends the canvas for saving to the backend for storage in the gallery
	$.ajax({
		type: "POST",
		url: "{{ url_for('update_purikura') }}",
		data: { filename: '{{ filename }}', updated_src: copyForDownloading.toDataURL('image/jpeg', 1.0) },
		success: function(response) {
			console.log(response);
		},
		error: function(error) {
			console.log(error)
		}

	});
}

</script>

{% endblock %}