{% extends "editorbase.html" %}

{% block content %}
<table>
	<tr>
		<td>
			<div>
				<!-- the javascript gets really jacked up if you move this.
				probably b/c of the mouse placement offset. will look into later. -->
				<canvas id="c" width="500" height="300"></canvas>
			</div>
			
		</td>
		<td>
			<p>Choose your color:</p> 
				<button id="changeColorToPurple">Purple</button>
				<button id="changeColorToGreen">Green</button>
				<button id="changeColorToYellow">Yellow</button>
				<button id="changeColorToBrown">Brown</button>

			<p>Choose your size:</p>
				<button id="changeSizeToSmall">Small</button>
				<button id="changeSizeToMedium">Medium</button>
				<button id="changeSizeToLarge">Large</button>
				<button id="changeSizeToXLarge">XLarge</button>

			<p>Choose your tool:</p>
				<button id="changeToolToMarker">Marker</button>
				<button id="changeToolToEraser">Eraser</button>
				<button id="changeToolToPen">Pen</button>
				<button id="changeToolToFancyBrush">Fancy Brush</button>
				<img id="changeToolToBrush" src="{{ url_for('static', filename='images/brush.png') }}" />
				<img id="changeToolToBrush2" src="{{ url_for('static', filename='images/2.png') }}" />
				<img id="changeToolToBrush3" src="{{ url_for('static', filename='images/3.png') }}" />
		</td>
	</tr>
</table>







<script>

var el = document.getElementById('c');
var ctx = el.getContext('2d');


//colors
var colorPurple = "#cb3594";
var colorGreen = "#659b41";
var colorYellow = "#ffcf33";
var colorBrown = "#986928";

//sizes
var small = 2;
var medium = 5;
var large = 7;
var xlarge = 10;


//CHANGING COLORS ISNT WORKING. WILL TURN ALL MARKER TEXT THE SPECIFIED COLOR!

ctx.shadowColor = 'black';
//changes color
document.getElementById("changeColorToPurple").addEventListener('click', function(){
	ctx.strokeStyle = colorPurple;
	ctx.shadowColor = colorPurple;
});
document.getElementById("changeColorToGreen").addEventListener('click', function(){
	ctx.strokeStyle = colorGreen;
	ctx.shadowColor = colorGreen;
});
document.getElementById("changeColorToYellow").addEventListener('click', function(){
	ctx.strokeStyle = colorYellow;
	ctx.shadowColor = colorYellow;
});
document.getElementById("changeColorToBrown").addEventListener('click', function(){
	ctx.strokeStyle = colorBrown;
	ctx.shadowColor = colorBrown;
});

//changes size
document.getElementById("changeSizeToSmall").addEventListener('click', function(){
	curSize = small;
});
document.getElementById("changeSizeToMedium").addEventListener('click', function(){
	curSize = medium;
});
document.getElementById("changeSizeToLarge").addEventListener('click', function(){
	curSize = large;
});
document.getElementById("changeSizeToXLarge").addEventListener('click', function(){
	curSize = xlarge;
});

//changes tool
// document.getElementById("changeToolToCrayon").addEventListener('click', function(){
// 	curTool = "crayon";
// });
document.getElementById("changeToolToMarker").addEventListener('click', function(){
	drawWithMarker();
});
document.getElementById("changeToolToEraser").addEventListener('click', function(){
	//this currently turns all the markers white. not good :(
	// ctx.strokeStyle = 'white';
	// drawWithMarker();

});
document.getElementById("changeToolToPen").addEventListener('click', function(){
	drawWithPen();
});
document.getElementById("changeToolToFancyBrush").addEventListener('click', function(){
	drawWithFancyBrush();
});
document.getElementById("changeToolToBrush").addEventListener('click', function(){
	drawWithBrush();
});

// based on http://www.tricedesigns.com/2012/01/04/sketching-with-html5-canvas-and-brush-images/


function drawWithBrush() {
	var img = new Image();
	img.src = 'http://www.tricedesigns.com/wp-content/uploads/2012/01/brush2.png';

	function distanceBetween(point1, point2) {
		return Math.sqrt(Math.pow(point2.x - point1.x, 2) + Math.pow(point2.y - point1.y, 2));
	};
	function angleBetween(point1, point2) {
		return Math.atan2( point2.x - point1.x, point2.y - point1.y );
	};

	
	ctx.lineJoin = ctx.lineCap = 'round';

	var isDrawing, lastPoint;

	el.onmousedown = function(e) {
		isDrawing = true;
		lastPoint = { x: e.clientX, y: e.clientY };

		//make sure there's no shadow, in case you used the marker
		ctx.shadowBlur = 0;
	};

	el.onmousemove = function(e) {
		if (!isDrawing) return;

		var currentPoint = { x: e.clientX, y: e.clientY };
		var dist = distanceBetween(lastPoint, currentPoint);
		var angle = angleBetween(lastPoint, currentPoint);

		for (var i = 0; i < dist; i+= 75) {
			x = lastPoint.x + (Math.sin(angle) * i) - 25;
			y = lastPoint.y + (Math.cos(angle) * i) - 25;
			console.log("x: ", x);
			console.log("y: ", y);
			ctx.drawImage(img, x, y);
		}

		lastPoint = currentPoint;
	};

	el.onmouseup = function() {
		isDrawing = false;
	};

};


function drawWithMarker() {

	var isDrawing;


	el.onmousedown = function(e) {
	  isDrawing = true;
	  ctx.lineWidth = 10;
	  ctx.lineJoin = ctx.lineCap = 'round';
	  ctx.shadowBlur = 10;
	  //ctx.shadowColor = ctx.strokeStyle; //this needs to equal whatever your color is.
	  ctx.moveTo(e.clientX, e.clientY);
	};
	el.onmousemove = function(e) {
	  if (isDrawing) {
	    ctx.lineTo(e.clientX, e.clientY);
	    ctx.stroke();
	  }
	};
	el.onmouseup = function() {
	  isDrawing = false;
	};
};

function drawWithPen() {
	function getRandomInt(min, max) {
		return Math.floor(Math.random() * (max - min + 1)) + min;
	}


	ctx.lineWidth = 1;
	ctx.lineJoin = ctx.lineCap = 'round';

	var isDrawing, lastPoint;

	el.onmousedown = function(e) {
		isDrawing = true;

		lastPoint = { x: e.clientX, y: e.clientY };

		//make sure there's no shadow, in case you used the marker
		ctx.shadowBlur = 0;
	};

	el.onmousemove = function(e) {
		if (!isDrawing) return;

		ctx.beginPath();

		ctx.moveTo(lastPoint.x - getRandomInt(0, 2), lastPoint.y - getRandomInt(0, 2));
		ctx.lineTo(e.clientX - getRandomInt(0, 2), e.clientY - getRandomInt(0, 2));
		ctx.stroke();

		ctx.moveTo(lastPoint.x, lastPoint.y);
		ctx.lineTo(e.clientX, e.clientY);
		ctx.stroke();

		ctx.moveTo(lastPoint.x + getRandomInt(0, 2), lastPoint.y + getRandomInt(0, 2));
		ctx.lineTo(e.clientX + getRandomInt(0, 2), e.clientY + getRandomInt(0, 2));
		ctx.stroke();

		lastPoint = { x: e.clientX, y: e.clientY };
	};

	el.onmouseup = function() {
		isDrawing = false;
	};
};


</script>

{% endblock %}