<!DOCTYPE html>
<html>
	<head>
		<title>DecorateIt</title>

		<!-- set favicon -->
		<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

        <!-- import site-wide css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/overall.css')}}">

		<!-- import bootstrap css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap-theme.min.css') }}">

		<!-- import jquery -->
		<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.min.js')}}"></script>

		<!-- import bootstrap js and bootstrap extras -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap-alert.js') }}"></script>

		{% block header %}
		{% endblock %}
	</head>

	<body>

		<header>
			<!-- menu -->
			<div class="container-nav">
				<h1 class="logo">DecorateIt</h1>
				<strong><nav>
					<ul class="menu">
						{% if not session.logged_in %}
							<li><a href="{{url_for('login')}}">Home</a></li>
						{% else %}
							<li><a href="{{url_for('main')}}">Gallery</a></li>
						{% endif %}

						<li><a href="{{url_for('about')}}">About</a></li>

						{% if not session.logged_in %}
					    	<li><a href="{{ url_for('login') }}">Login</a></li>
					  	{% else %}
					    	<li><a href="{{ url_for('logout') }}">Logout</a></li>
					  	{% endif %}
					</ul>
				</nav></strong>
			</div>
			<!-- alerts -->
			<div class="container">
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-6" id="messagebox">

					{% with messages = get_flashed_messages(with_categories=true) %}
					  {% if messages %}
					    {% for category, message in messages %}
					      <div class="alert alert-{{ category }}" role="alert"><p>{{ message }}</p></div>
					   
					    {% endfor %}
					  {% endif %}
					{% endwith %}

					</div>
					<div class="col-md-3">
					</div>
				</div>
			</div>

		</header>

		<!-- content -->
		<div class="container">
			<br />
			<div class="row">

				{% block content %}
				{% endblock %}

			</div>			
		</div>

		<!-- fade javascript for alerts -->
		<script type="text/javascript">
  			$('.alert').fadeOut(6000)
		</script>
	</body>
</html>
