{% extends 'layout.html' %}

{% block header %}
<style>

body {
  background: url('../static/images/color-rain.jpg');
}

header {
  margin-bottom: 75px;
}

.form-group {
  /*padding-left: 0px;*/
}
</style>

{% endblock %}

{% block content %}
<div class="col-md-2">
</div>
<div class="col-md-8">
  <div id="registrationFormBox">
    <form action="{{ url_for('login') }}" method="POST">
        <h2> Sign In</h2>

        <!-- username is email address -->
        <!-- using bootstrap form control here -->
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="text" class="form-control" placeholder="Email Address" required autofocus name="email"/>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Password" required name="password"/>
            </div>

            <button type="submit" class="btn btn-primary">Sign In</button>
            <br />
            <a href="{{ url_for('index') }}">Not a member? Click here</a>
          </div>
          <div class="col-md-1">
          </div>
        </div>
        
    </form>
  </div>
</div>
<div class="col-md-2">
</div>

{% endblock %}