{% extends "layout.html" %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.min.js')}}"></script>

<style>
		body {
			background-color: #171717;
			margin:0px;
			color: #FFFFFC;
		}

	/* for gallery */
		.gallery {
			display: block;
			text-align: center;
			position: relative;
			padding: .7em .7em .7em .7em;
			min-height: 0;
			font-size: 100%;
			background: #470024;
			border-top: 10px solid black;
		}
		.gallery > img {
			-webkit-filter: opacity(0.4);
		}

		.gallery >img:hover {
			-webkit-filter: opacity(1);
		}
		.gallery-img-active {
			-webkit-filter: opacity(1);
		}

	/* for accordion */
		h3 > img {
			-webkit-filter: invert(1);
		}
		.h3-faux-accordion {
			display: block;
			text-align: center;
			position: relative;
			margin: 2px 0 0 0;
			padding: .5em .5em .5em .7em;
			min-height: 0;
			font-size: 100%;
			height: 42px; /* JS changes this. used to be 48 */
		}

	/* for accordion icons and tool selection */
		button {
			border: none;
			background: none;
			-webkit-filter: opacity(0.4) invert(1);
		}

		button:hover {
			-webkit-filter: opacity(1) invert(1);
		}

		button:focus {
			outline: 0 !important;
		}
		.accordion-button-adjustment {
			-webkit-filter: opacity(0.4) !important;
		}

		.icon-inactive {
			display:inline-block; 
			-webkit-filter: opacity(0.4) invert(1);
		}

		button.icon-inactive:hover {
			-webkit-filter: opacity(0.4) invert(1) !important;
		}

		.icon-active {
			-webkit-filter: opacity(1) invert(1) !important;
		}

		.button-active {
			border: none;
			background: none;
			-webkit-filter: none;
		}

	/* for text overlays on video */
		.text-hidden {
			visibility: hidden;
		}

	/* for radio buttons */

	</style>

{% endblock %}
{% block content %}

<!-- sizing matches the editor later. had to add 15 to measurements b/c of the border -->
<!-- old style:style="/*height:644px;*/ width:980px; border:15px solid black;"-->
<audio>
	<source src="../static/audio/camera.mp3"></source>
</audio>

<div class="col-md-12 text-center" style="margin-top:50px;">
	<div style="position:relative;">
		<canvas id="canvas" width="700" height="494"></canvas>
		<button id="snap" style="position: absolute; top: 170px; left: 420px; z-index: 100;" class="text-hidden"><img src="{{ url_for('static', filename='images/navigatorcamera.png') }}"/></button>
		<p id="enableVideoText" style="position:absolute; top:215px; left:380px; z-index:101; font-size:45px;">Enable your video!</p>
		<p id="countdown" style="position: absolute; top: 40px; left: 500px; z-index: 30; font-size:300px;" class="text-hidden">3</p>
		<p id="waitText" style="position:absolute; top:215px; left:400px; z-index:101; font-size:45px;" class="text-hidden" >Prepare to smile!</p>
		<video id="video" width="700" height="494" autoplay style="display:none;"></video>
	</div>
	<div>
		<form id="snapshots" action="{{ url_for('upload_webcam_photo') }}" method=POST>
			<!-- <input type="radio" value="hi" />
			<img src="{{ url_for('static', filename='images/pikachu.png') }}" style="height: 100px; width:100px;" />
			<input type="radio" value="hi" />
			<img src="{{ url_for('static', filename='images/pikachu.png') }}" style="height: 100px; width:100px;" /> -->
			<!-- <button id="submitButton" type="submit" class="text-hidden"><img src="{{ url_for('static', filename='images/navigatorupload.png') }}" style="height:32px; width:32px" /></button> -->
			<!-- class="icon-inactive" disabled -->
			<!-- <button><a href="" id="upload"></a></button> -->
		</form>
	</div>
</div>

<script>

		//This is doing the video listening stuff
		// Put event listeners into place
		window.addEventListener("DOMContentLoaded", function() {
			// Grab elements, create settings, etc.
			var canvas = document.getElementById("canvas"),
				ctx = canvas.getContext("2d"),
				video = document.getElementById("video"),
				videoObj = { "video": true },
				errBack = function(error) {
					console.log("Video capture error: ", error.code); 
				};

			// Put video listeners into place
			if(navigator.getUserMedia) { // Standard
				navigator.getUserMedia(videoObj, function(stream) {
					video.src = stream;
					video.play();
				}, errBack);
			} else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
				navigator.webkitGetUserMedia(videoObj, function(stream){
					video.src = window.webkitURL.createObjectURL(stream);
					video.play();
				}, errBack);
			} else if(navigator.mozGetUserMedia) { // WebKit-prefixed
				navigator.mozGetUserMedia(videoObj, function(stream){
					video.src = window.URL.createObjectURL(stream);
					video.play();
				}, errBack);
			}

			//black out the canvas until the video is showing.
		      ctx.fillStyle = 'black';
		      ctx.fillRect(0,0,canvas.width, canvas.height);

			//since you can't hide the canvas, copy the video onto the canvas every 20ms and hide the video instead.
			document.getElementById("video").addEventListener("play", function() {
				var i = window.setInterval(function() {
					ctx.drawImage(video,0,0,canvas.width,canvas.height);
					console.log("drawing webcam");
				},20);
				//once you've loaded the video, make the enable text hidden and the photoshoot button visible
				document.getElementById("enableVideoText").className = "text-hidden";
				// document.getElementById("submitButton").className = "text-hidden";
				document.getElementById("snap").className = "";
			}, false);
			
			//This is doing the snapshot stuff

			document.getElementById("snap").addEventListener("click", function() {
				document.getElementById("snap").className = "text-hidden"; //hide the snap button
				document.getElementById("waitText").className = ""; //display the wait text

				//once the other stuff is ready to go, hide the wait text
				setTimeout(function(){
					document.getElementById("waitText").className = "text-hidden";
				}, 2500);

				var photoShots = 5; //one less than what you want because the clearInterval function doesn't break the loop
				var photoboothInterval = setInterval(function(){
					document.getElementById("countdown").className = ""; //show the countdown ticker
					if (photoShots < 1) {
						//console.log("stopping the photobooth");
						clearInterval(photoboothInterval);
					}

					var index=0; //this keeps track of which thing to send. not sure using this.

					var maxTime = 3;
					var countdownInterval = setInterval(function(){
						console.log(maxTime);
						if (maxTime == 0) {
							console.log("stopping the coundown after" + maxTime);
							document.getElementById("countdown").style.display = 'none';
							clearInterval(countdownInterval);
							var audio = document.getElementsByTagName("audio")[0];
							console.log(audio);
								audio.play();
						}
						//console.log(maxTime);
						else {
							document.getElementById("countdown").style.display = 'block';
							document.getElementById("countdown").innerHTML = maxTime;
					
							maxTime--;
						}
					}, 500);
					
					setTimeout(function(){
						ctx.drawImage(video, 0, 0, canvas.width, canvas.height); //This is what saves the canvas to an image

				      	var data = canvas.toDataURL('image/jpeg', 1.0);;

				      	var img = document.createElement("img");
				      	img.src = data;
				      	img.style.width = "100px";
				      	img.style.height = "100px";

						var entry = document.createElement("input");
						entry.type = "radio";
						entry.name = "selectedPhotos";
						entry.value = data; //this is a really long string...
						
						$("#snapshots").prepend(img.outerHTML);
						$("#snapshots").prepend(entry);
					}, 3000); //needs to take at least 2s because countdown has to take 1.5s total; making it 3s to give 1.5s buffer

					photoShots--;
				}, 3000); //this is pretty fast. but it's because there's this delay in the beginning.
			});


			//make the submit button appear after you're done taking pictures
			setTimeout(function() {
				document.getElementById("countdown").className = "text-hidden";

				var submitButton = document.createElement("input");
				submitButton.id = "submitButton";
				submitButton.type = "submit";
				submitButton.classList.add("btn");
				submitButton.classList.add("btn-primary");
				$("#snapshots").append(submitButton);
				console.log("i am here!!!!");

				// Blacking out canvas after finished taking pictures
				video.pause();
				video.src="";
				ctx.fillStyle = 'black';
		      	ctx.fillRect(0,0,canvas.width, canvas.height);

			}, 29000); //29000


		}, false);

	</script>

{% endblock %}
