{% extends "layout.html" %}

{% block header %}

<!-- import bootstrap styles -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap-theme.min.css') }}">

<!-- import custom photobooth styles -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/photobooth.css') }}">

<!-- import jquery -->
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.min.js')}}"></script>

<!-- import bootstrap js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>


{% endblock %}
{% block content %}

<!-- load camera shutter sound -->
<audio><source src="{{ url_for('static', filename='audio/camera.mp3') }}"></source></audio>

<div class="col-md-12 text-center" style="margin-top:35px;">
	
	<!-- photobooth -->
	<div style="position:relative;">
		<!-- canvas (displays webcam feed) -->
		<canvas id="canvas" width="700" height="494"></canvas>
		
		<!-- flash -->
		<div id="flash" style="width:700px; height:494px; background-color: white; position: absolute; top: 0px; left: 220px; z-index: 200; -webkit-filter: opacity(0.7); visibility: hidden;"></div>

		<!-- start photoshoot overlay -->
		<button id="snap" style="position: absolute; top: 170px; left: 420px; z-index: 100;" class="text-hidden"><img src="{{ url_for('static', filename='images/navigatorcamera.png') }}"/></button>

		<!-- enable video overlay -->
		<p id="enableVideoText" style="position: absolute; top:215px; left:380px; z-index:101; font-size:45px; text-shadow: 0 0 5px yellow;">Enable your video!</p>

		<!-- 3-2-1 coundown overlay -->
		<p id="countdown" style="position: absolute; top: 30px; left: 500px; z-index: 30; font-size:300px; text-shadow: 0 0 5px yellow;" class="text-hidden" >3</p>

		<!-- prepare to smile overlay -->
		<p id="waitText" style="position:absolute; top:215px; left:400px; z-index:101; font-size:45px; text-shadow: 0 0 5px yellow;" class="text-hidden">Prepare to smile!</p>

		<!-- choose the photo to decorate overlay -->
		<p id="chooseText" style="position: absolute; top: 175px; left: 345px; z-index: 101; font-size: 45px; text-shadow: 0 0 5px yellow;" class="text-hidden"> Choose a photo below <br /> to start decorating!</p>

		<!-- hidden video object that feeds into the canvas -->
		<video id="video" width="700" height="494" autoplay style="display:none;"></video>
	</div>

	<!-- snapshots -->
	<div>

		<!-- form that sends the image you want to decorate to the server -->
		<form id="snapshots" action="{{ url_for('upload_webcam_photo') }}" method=POST style="float: left; padding-left: 240px;">

			<!-- form loaded by js during photoshoot -->
			<br />

			<!-- background film strip to indicate where images are loaded -->
			<img src = '{{ url_for('static', filename='images/photoStripGray.png') }}' id="photoStrip" class="faded" />
			<span id = "placeholderForSubmitButton"></span>
		</form>
	</div>
	
</div>

<script>

/* NOTE: All the photobooth logic is in this script tag. */

//Once the window is loaded...
window.addEventListener("DOMContentLoaded", function() {

/**********************************************************************************
Setting up
***********************************************************************************/
	
	// Grab elements, create settings, etc.
	var canvas = document.getElementById("canvas"),
	ctx = canvas.getContext("2d"),
	video = document.getElementById("video"),
	videoObj = { "video": true },
	errBack = function(error) {
		console.log("Video capture error: ", error.code); 
	};

	// Put video listeners into place
	if(navigator.getUserMedia) { // Standard
		navigator.getUserMedia(videoObj, function(stream) {
			video.src = stream;
			video.play();
		}, errBack);
	} else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
		navigator.webkitGetUserMedia(videoObj, function(stream){
			video.src = window.webkitURL.createObjectURL(stream);
			video.play();
		}, errBack);
	} else if(navigator.mozGetUserMedia) { // WebKit-prefixed
		navigator.mozGetUserMedia(videoObj, function(stream){
			video.src = window.URL.createObjectURL(stream);
			video.play();
		}, errBack);
	}

	//Black out the canvas until the video is showing.
	ctx.fillStyle = 'black';
	ctx.fillRect(0,0,canvas.width, canvas.height);

	//Since you can't hide the canvas, copy the video onto the canvas every 20ms and hide the video instead.
	document.getElementById("video").addEventListener("play", function() {
		var i = window.setInterval(function() {
			ctx.drawImage(video,0,0,canvas.width,canvas.height);
		},20);

		//Once the video is loaded, make the "enable video" text hidden 
		document.getElementById("enableVideoText").className = "text-hidden";

		//Display the "start photoshoot" text
		document.getElementById("snap").className = "";
	}, false);

/**********************************************************************************
Photoshoot
***********************************************************************************/

	document.getElementById("snap").addEventListener("click", function() {
		getReadyForPhotoshoot(); //takes 3 seconds

		//Take 6 photos
		setTimeout(takePhoto, 4000);
		setTimeout(takePhoto, 8000);
		setTimeout(takePhoto, 12000);
		setTimeout(takePhoto, 16000);
		setTimeout(takePhoto, 20000);
		setTimeout(takePhoto, 24000);

		//Link photos to labels, so when you click on the label it selects the entry
		setTimeout(linkEntries, 28000);

		//Automatically select the first photo
		setTimeout(selectFirst, 29000);

		//Add submit button
		setTimeout(addSubmit, 29000);
	});

/**********************************************************************************
Helper functions
***********************************************************************************/

	function addSubmit() {
		//Hide the countdown text
		//document.getElementById("countdown").className = "text-hidden";

		//Create submit button
		var submitButton = document.createElement("input");
		submitButton.id = "submitButton";
		submitButton.value = "Decorate!";
		submitButton.type = "submit";
		submitButton.classList.add("btn");
		submitButton.classList.add("btn-primary");

		//Append submit button
		$("#snapshots").append(submitButton);
		$("#submitButton").show();

		// Blacking out the video feed when you're done taking pictures
		video.pause();
		video.src="";
		ctx.fillStyle = 'black';
      	ctx.fillRect(0,0,canvas.width, canvas.height);
      	document.getElementById("chooseText").className="";
      	document.getElementById("photoStrip").className="visible";
	}

	function takePhoto() {
		 //Show the 3-2-1 countdown ticker
		document.getElementById("countdown").className = "";

		//Repeat countdown 3 times
		var maxTime = 3;
		var countdownInterval = setInterval(function(){
			//If you're done, stop the countdown interval
			if (maxTime == 0) {
				//Hide the countdown text
				document.getElementById("countdown").style.display = 'none';
				
				//Play the camera shutter sound
				var audio = document.getElementsByTagName("audio")[0];
				audio.play();

				//Flash the screen for 1/10 of a second
				document.getElementById("flash").style.visibility = 'visible';
				setTimeout(function(){
					document.getElementById("flash").style.visibility = 'hidden';
				}, 100);

				clearInterval(countdownInterval);
				
			}
			//Otherwise, keep counting down
			else {
				document.getElementById("countdown").style.display = 'block';
				document.getElementById("countdown").innerHTML = maxTime;
				maxTime--;
			}
		}, 500);
		
		//Then, take the snapshot
		setTimeout(function(){
			//Create a span element to hold the snapshot
			var span = document.createElement("span");

			//Save the snapshot to an image
			ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
	      	var data = canvas.toDataURL('image/jpeg', 1.0);

	      	//Create a thumbnail for the snapshot
	      	var img = document.createElement("img");
	      	img.src = data;
	      	img.style.width = "104px";
	      	img.style.height = "103px";

	      	//Create a form input element to select the snapshot
			var entry = document.createElement("input");
			entry.type = "radio";
			entry.className = "selectedPhotos";
			entry.name = "selectedPhotos";
			entry.value = data;
			entry.style.display = "none";
			entry.style.margin = "5px";

			//Create a label for the form element
			var label = document.createElement("label");

			span.appendChild(img)
			label.appendChild(entry);
			label.appendChild(span);

			$("#snapshots").append(label);
			
		}, 3000);
	}

	//Displays a "get ready to smile" text
	function getReadyForPhotoshoot(){
		//Hide the "start photoshoot" button
		document.getElementById("snap").className = "text-hidden";

		//Display the "get ready to smile" text
		document.getElementById("waitText").className = "";

		//Hide the "get ready to smile" text after 3 seconds
		setTimeout(function(){
			document.getElementById("waitText").className = "text-hidden";
		}, 3000);
	}

	//Makes sure the snapshot form entries are linked by input id attribute/label for attribute
	function linkEntries(){
		//Get the form inputs
		entries = document.getElementsByTagName("input");

		//Get the form labels
		labels = document.getElementsByTagName("label");

		//Link them up
		for (var i=0; i<6; i++) {
			entries[i].id = i;
			labels[i].for = i;
		}
	}

	//Select the first form entry by default
	function selectFirst(){
		entries = document.getElementsByTagName("input");
		entries[0].checked = true;
	}


}, false);

</script>

{% endblock %}
