{% extends "layout.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.min.js')}}"></script>


{% endblock %}
{% block content %}

<h2>Purikura details</h2>

<!-- you should load the proper src here. purikura.src -->

<!-- should show full size purikura. default is 700x494 -->
<img src="{{ url_for('static', filename='images/bunu.jpg') }}" />
<!-- open image up in editor link -->
<!-- some share on facebook links here -->

<script>
		
</script>



{% endblock %}